

*{
    padding: 0;
    margin: 0;
}


.product-main-page{
    
    /* border: 1px solid red; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252831 url(https://www.dropbox.com/s/fuadz3vmw2nsylm/bg.png?raw=1) no-repeat;
}

.product-box1{
    width: 70%;
    height: 100%;
    /* border: 1px solid rgb(76, 0, 255); */
    background-color: #2A2F40;
    margin-left: 100px;
    border-radius: 20px;
}

.product-box1-details{
    float: right;
    margin-right: 25px;
    margin-top: 25px;
    width: 53%;
    height: 100%;
    /* border: 1px solid rgb(255, 0, 0); */
}


.product-box2{
    width: 30%;
    height: 65vh;
    /* border: 1px solid rgb(76, 0, 255); */
    /* margin-left: 100px; */
    position: absolute;
    margin-right: 33%;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.product-box2-header{
    width: 100%;
    height: 5vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    border-radius: 20px;


}

.product-share{
    padding-top: 10px;
    padding-left: 10px;
}
.product-like{
    padding-top: 10px;
    padding-right: 10px;
}



.product-photo{
    width: 100%;
    height: 80%;
    /* border: 3px solid red; */
    margin-top: 50px;
    border-radius: 20px;
    margin-right: 100px;


    
  
}
.product-photo img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-top: 0px;
}

.product-button{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 85px;
}

.product-foot{
    color: #ffffff;
    font-family: "muli";
    margin-bottom: 30px;
    margin-right: 50px;
    font-weight: 500;
    padding-left: 39px;
    font-size: 35px;
    /* padding-top: 40px; */
    float: left;
    transition: 0.3s all ease;
    cursor: pointer;
    /* margin-top: 45px; */
}
.product-foot :hover{
    color:#FF6D39 ;
}

.product-name{
    margin-top: 20px;
    font-size: 35px;
    color: white;
}
.product-price{
    font-size: 75px;
    color: #FF6D39;


}
.price-span{
    font-size: 35px;
    color: white;

}
.product-desc{
    font-size: 20px;
    color: white;

}
.season{
    display: block;
    font-size: 20px;
    margin-bottom: -70px ;
    margin-top: 75px;
    color: white;
}
