*{
    margin: 0;
    padding: 0;
}

.Global-center{
    display: flex;
    justify-content: center;
    align-items: center;

    
    
    
    background: url("https://res.cloudinary.com/dls0mpbjp/image/upload/v1707985157/sponline_phone114_generated_bokh6v.jpg");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* opacity: 0.9; */
}

.person-main{
    width: 98%;
    height: 89vh;
    /* border: 1px solid red; */
    display: flex;
}

.personBox1{
    width: 60%;
    height: 87vh;
    /* border: 1px solid red; */
    margin: 10px;

}
.personBox2{
    width: 40%;
    height: 87vh;
    /* border: 1px solid red; */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.personBox2 img{
    width: 78%;
    height: 93%;
    border-radius: 20px;
}